/* Blog*/
.post-info {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1em;
}

.post-info > div {
    display: inline-block;
}

.post-info > div .seperator {
    display: inline-block;
    margin: 0 10px;
    opacity: .5;
}

.tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: #000000;
    border: 1px solid #ccc;
    font-size: 11px;
}

.tagcloud a:hover {
    border: 1px solid #000;
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    padding: 0;
    margin: 0;
}

.comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
}

.comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
}

.comment-list li .vcard {
    width: 80px;
    float: left;
}

.comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
}

.comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
    font-size: 20px;
    margin-top: 0; !important;
}

.comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    color: #ccc;
    margin: 0 0 5px 0;
}

.comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #000000;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1em;
    font-weight: 400;
    border-radius: 4px;
}

.comment-list li .comment-body .reply:hover {
    color: #fff;
    background: black;
}

.search-form .form-group {
    position: relative;
}

.search-form .form-group input {
    padding-right: 50px;
    font-size: 14px;
}

.search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar-box {
    margin-bottom: 40px;
    font-size: 15px;
    width: 100%;
    float: left;
}

.sidebar-box *:last-child {
    margin-bottom: 0;
}

.sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
}

div.tagcloud a.tag-cloud-link {
    color: #0a0a0a;
!important;
}

.categories li, .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    list-style: none;
}

.categories li:last-child, .sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.categories li a, .sidelink li a {
    display: block;
    color: #1a1a1a;
}

.categories li a span, .sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
}

.categories li a:hover, .categories li a:focus, .sidelink li a:hover, .sidelink li a:focus {
    outline: none;
    color: #ffd369;
}

.categories li.active a, .sidelink li.active a {
    color: #ffd369;
}

.categories li.active a span, .sidelink li.active a span {
    color: #ffd369;
}

#ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000;
}

#ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

.overlay {
    height: 300px;
    background-position: center;
}

.publish-date {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .1em;
    color: #ccc;
}

.bg-light {
    background: #f8f9fa !important;
}

/* Author */
.about-author.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.about-author.p-4 {
    padding: 1.5rem !important;
}

.about-author.mr-5 .mx-5 {
    margin-right: 3rem !important;
}

.img-fluid {
    max-width: 80%;
    height: auto;
}

.comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
}

/* Comment */
.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.p-5 {
    padding: 3rem !important;
    margin-bottom: 25px
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

textarea.form-control {
    height: inherit !important;
}

textarea {
    overflow: auto;
    resize: vertical;
}
